div {
  padding: 10px;
}

body {
  margin: 0;
  text-align: center;
  color: #40514E;
  /*Align at center*/
  /*font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;*/
  /* Fallbacks */
  /*https://www.cssfontstack.com/Lucida-Grande*/
  font-family: 'Merriweather Sans', sans-serif;
  /*https://fonts.google.com/*/
}

h1 {
  font-size: 5.62rem
    /* better solution is rem ; 500% Or use 5.62em em & % adds on top of the font size of parent i.e. if body has 2em and here 5.62 em total will be 7.62 em here */
  ;
  /*100% means 16 px = 1em*/
  width: 55%;
  margin: 50px auto 0 auto;
  /*Auto Management at center for smaller width*/
  font-family: 'Montez', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px; /*doesn't impact much*/
}

h3 {
  font-family: 'Merriweather', serif;
  color: #11999E;
}
p{
  line-height: 2;
}
.subtitle{
  font-weight: normal;
}
.top-container {
  background-color: #e8f0fe;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin:100px 0;
}

.bottom-container {
  background-color: #66BFBF; /*Bg color and color are different*/
  padding: 50px 0 20px;
}
/*Anchor Tags for Linkedin/FB/insta*/
a{
  color : #11999E;
  margin : 15px 25px;
  text-decoration: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bolder;
}
a:hover{
  color : #EAF6F6;
}
hr{
 border: dotted #EAF6F6 7px;
 border-bottom: none;
 width: 7%;
 margin: 100px auto; /*Top and bottom 100px margin centered at the middle*/
}
.intro
{
  width: 51%;
  line-height: 2.5;
  margin: auto;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto; /*To center the skill row*/
  line-height: 2;
  text-align: left;
}
.bottom-cloud {
  position: absolute;
  /*Traverses in pool of relative item or bydefault relative body*/
  left: 200px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 40px;
}
.mountain{
}
.temp {
    /*Span Applications inline*/
  text-decoration: underline;
  text-decoration-style: wavy;
}

.DSA {
  width: 230px;
  height : 200px;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}

.Cpp {
  width: 25%;
  float: left; /*Don't use for positioning instead of absolute/relative*/
  margin-right: 30px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0px;
}
.contact-message
{
  width: 40%;
  margin : 40px auto 60px;
}

/*https://css3buttongenerator.com/ note class.btn and can change font family*/
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
/*
.DSA-description{
  clear: right; // text in bottom heading remains in left to image
}
*/
